* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* google fonts */

.noto-serif-normal {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* header styles */

.header {
    display: flex;
    gap: 50px;
    max-width: 71.25rem;
    margin: 30px auto;
    justify-items: center;
    justify-content: space-between;
    align-items: center;

}

.logo {
    margin-left: 2px;
    width: 8.4rem;
    height: 5.1rem;
}

/* navbar styles */

ul {
    display: flex;
    gap: 3rem;
}

nav ul li {
    list-style: none;
}

li a {
    text-decoration: none;
}

/* shared styles */

.dark-1 {
    color: #8987A1;
}

.dark-2 {
    color: black;
    font-weight: bold;
}

.dark-3 {
    color: #252432;
    font-weight: 600;
}

.dark-4 {
    color: black;
}

.text-pmy {
    font-weight: bold;
    font-size: 50px;
}

.text-color {
    color: #E95A08;
}

.text-color-2 {
    color: #ffffff;
}

/* banner styles */

.banner {
    display: flex;
    justify-items: center;
    margin: 120px auto;
    max-width: 71.25rem;
    max-height: 28.81rem;
}

.banner-content {
    margin-top: 162px;
}

.banner-title {
    margin: 0px;
    font-size: 4rem;
    font-weight: bold;
}

.banner-description {
    margin-top: 13px;
    margin-bottom: 0px;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}

.hero-img {
    margin-top: 106px;
    width: 35.62rem;
    height: 22.18rem;
}

/* Our Plants Section */

.our-plants-container {
    max-width: 71.25rem;
    margin: 120px auto;
}

.our-plants-heading {
    text-align: center;
}

.plants-title {
    font-weight: bold;
    font-size: 3.125rem;
    margin: 0px;
    padding: 0px;
}

.plants-description {
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}

/* cards style */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
}

.card {
    margin-top: 50px;
    max-width: 100%;
    justify-items: center;
}

.card-img {
    width: 100%;
}

.card-content {
    text-align: center;
}

.card-title {
    font-weight: 600;
    font-size: 1.375rem;
    color: #111111;
    margin-bottom: 20px;
}

.card-description {
    font-weight: bold;
    font-size: 1.375rem;
    color: #111111;
    margin-bottom: 20px;
}

.btn {
    background-color: #E95A08;
    padding: 19px 80px;
    width: 16.875rem;
    text-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    color: #ffffff;
    border: none;
    box-sizing: border-box;

}

/* flower & Plants lover section */

.flower-img-container {
    position: relative;
    width: 33.75rem;
}

.flower-lover-img {
    width: 100%;
}

.badge-img {
    position: absolute;
    top: -22%;
    right: -17%;
    width: 17.875rem;
    height: auto;
    filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));

}

.flower-lover-container {
    max-width: 71.25rem;
}

.flower-lover {
    display: flex;
    gap: 60px;
    margin: 0 auto;
}

.flower-lover-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.flower-lover-description {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}

.list-item {
    list-style: disc;
}

.flower-lover-img {
    width: 33.75rem;
    /* height: 597px; */
}












/* smaller device responsive */
@media screen and (max-width: 576px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Header section responsive */

    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        margin-top: 20px;
        width: 100%;
    }

    .logo {
        width: 80px;
        height: auto;
    }

    nav ul {
        gap: 10px;
    }

    nav ul li {
        display: none;
    }

    nav ul li.cart-item {
        display: block;
    }

    /* Banner section responsive */

    .banner {
        flex-direction: column-reverse;
        align-items: center;
        margin: 106px auto;
        max-width: 100%;
    }

    .banner-content {
        margin: 20px 20px;
    }

    .banner-title {
        font-size: 24px;
        line-height: 1.2;
    }

    .banner-description {
        font-size: 14px;
        margin-top: 10px;
    }

    .img-container {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .hero-img {
        width: 100%;
        height: auto;

    }

    /* Plants section responsive */

    .our-plants-container {
        padding: 0 16px;
        margin: 40px auto;
        max-width: 100%;
    }

    .our-plants-heading {
        text-align: center;
        margin-top: 65px;
    }

    .plants-title {
        font-size: 1.5rem;
    }

    .plants-description {
        font-size: 0.875rem;
        margin: 10px 0;
    }

    body {

        margin: 0;
        padding: 0;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 30px;
        padding: 10px;
        width: 100%;
    }

    .card {
        width: 100%;
        margin: 0;
    }

    .card img {
        width: 100%;
    }

    .card-title {
        font-weight: 500;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .btn {
        width: auto;
        padding: 18px 25px;
    }

/* responsive flower & plants lover section  */

  .badge-img {
    display: none;
  }

  .flower-lover {
    flex-direction: column;
    gap: 30px;
    margin: 30px 15px;
  }

  .flower-img-container {
    width: 100%;
  }

  .flower-lover-img {
    width: 100%;
    height: auto;
  }

  .flower-lover-description {
    padding: 0;
    
  }

  .list-item {
    list-style: disc;
  }


}