* {
  padding: 0;
  margin: 0 ;
  box-sizing: border-box;
}

/* google fonts */

.noto-serif-normal {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* header styles */

.header {
    display: flex;
    gap: 50px;
    max-width: 71.25rem;
    margin: 30px auto;
    justify-items: center;
    justify-content: space-between;
    align-items: center;

}

.logo {
    margin-left: 2px;
    width: 8.4rem;
    height: 5.1rem;
}

/* navbar styles */

ul {
    display: flex;
    gap: 3rem;
}

nav ul li {
    list-style: none;
}

li a {
    text-decoration: none;
}

/* shared styles */

.dark-1 {
  color: #8987A1;
}

.dark-2 {
  color: black;
  font-weight: bold;
}

.dark-3 {
  color: #252432;
  font-weight: 600;
}

.dark-4 {
  color: black;
}

.text-pmy {
  font-weight: bold;
  font-size: 50px;
}

.text-color {
  color: #E95A08;
}

.text-color-2 {
  color: #ffffff;
}